<ul class="people_list">
  {{#each users}}
    <li>
        <p>{{this.id}}</p>
        <p>{{this.name}}</p>
        <p>{{this.username}}</p>
        <p>{{this.email}}</p>


        </li>
  {{/each}}
</ul>