<p>Scrivi il tuo nome per inserirti nella lista</p>

{{! 
in questo file, creo un form. 
Sono importanti i parametri nel tag form, perchè 
- POST mi definisce il metodo dell'HTTP che andrò ad utilizzare 
- Action andrà a eseguire un'azione a quel specifico endpoint per poi 
chiamre la mia miniAPI
- l' enctype serve specificarlo perchè serve a body-parser (modulo importato
in APP.js) per parsificare i dati in un oggetto 
}}

<form method="POST" action="/registration" enctype="application/x-www-form-urlencoded">
<label for="">id</label>
<input type="number" name="id"/>
<label> Nome</label>
<input type="text" name="name" id="nome"/>
<label for="">username</label>
<input type="text" name="username"/>
<label for=""> Email</label>
<input type="email" name="email"/> 
<input type="submit" onclick="redirectFn()"/>
</form>

{{! funzione che chiama un'alert}}
<script>
  function redirectFn(){
      alert("dati inviati con successo")
      location.reload() // non funziona
  }
</script>